<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include other xacro files -->
    <xacro:include filename="material_colors.xacro"/>
    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="base_plate.xacro"/>
    <xacro:include filename="pillar.xacro"/>
    <xacro:include filename="drive_wheel.xacro"/>
    <xacro:include filename="caster_wheel.xacro"/>


    <!-- 
        ##################################################
            Base Link
        ##################################################
    -->
    
    <link name="base_link"/>
    
    <!-- 
        ##################################################
    -->



    <!-- 
        ##################################################
            Base Plate Layers
        ##################################################


        ##################################################
            Base Plate diameter:
                d: 0.2286
            Base Plate radius:
                r: 0.1143
            Base Plate thickness:
                t: 0.005
            Square side length:
                sl: sqrt(2) * (d / 2) = 0.1616
        ##################################################


        ##################################################
            Base Plate 0 coordinates:
                x: -r = -0.1143
                y: 0
                z: 0.075
            Base Plate 1 coordinates:
                x: 0
                y: 0
                z: t + p = 0.0558
            Base Plate 2 coordinates:
                x: 0
                y: 0
                z: t + p = 0.0558
        ##################################################
    -->

    <xacro:robot_base_plate
        parent="base_link"
        child="first_base_plate_link"
        x="-0.1143" y="0" z="0.075"
        row="0" pitch="0" yaw="0"
    />

    <xacro:robot_base_plate
        parent="first_base_plate_link"
        child="second_base_plate_link"
        x="0" y="0" z="0.0558"
        row="0" pitch="0" yaw="0"
    />

    <xacro:robot_base_plate
        parent="second_base_plate_link"
        child="third_base_plate_link"
        x="0" y="0" z="0.0558"
        row="0" pitch="0" yaw="0"
    />

    <!-- 
        ##################################################
    -->



    <!-- 
        ##################################################
            Pillars
        ##################################################


        ##################################################
            Pillar length:
                p: 0.0508
            Pillar xy-position offset:
                o: 0.01
        ##################################################
    -->


    <!-- 
        ##################################################
            Pillar offset variables
        ##################################################
    -->

    <xacro:property name="pillar_x_front" value="0.1851"/>
    <xacro:property name="pillar_x_back" value="0.0435"/>
    <xacro:property name="pillar_y_offset" value="0.0708"/>
    <xacro:property name="pillar_z_offset" value="0.005"/>

    <!-- 
        ##################################################
    -->


    <!-- 
        ##################################################
            Pillars for Base Plate 0
        ##################################################
    -->

    <xacro:robot_pillar
        parent="first_base_plate_link"
        child="first_base_plate_front_right_pillar_link"
        x="${pillar_x_front}" y="${pillar_y_offset}" z="${pillar_z_offset}"
        row="0" pitch="0" yaw="0"
    />

    <xacro:robot_pillar
        parent="first_base_plate_link"
        child="first_base_plate_front_left_pillar_link"
        x="${pillar_x_front}" y="${-pillar_y_offset}" z="${pillar_z_offset}"
        row="0" pitch="0" yaw="0"
    />

    <xacro:robot_pillar
        parent="first_base_plate_link"
        child="first_base_plate_back_right_pillar_link"
        x="${pillar_x_back}" y="${pillar_y_offset}" z="${pillar_z_offset}"
        row="0" pitch="0" yaw="0"
    />

    <xacro:robot_pillar
        parent="first_base_plate_link"
        child="first_base_plate_back_left_pillar_link"
        x="${pillar_x_back}" y="${-pillar_y_offset}" z="${pillar_z_offset}"
        row="0" pitch="0" yaw="0"
    />

    <!-- 
        ##################################################
    -->


    <!-- 
        ##################################################
            Pillars for Base Plate 1
        ##################################################
    -->
        
    <xacro:robot_pillar
        parent="second_base_plate_link"
        child="second_base_plate_front_right_pillar_link"
        x="${pillar_x_front}" y="${pillar_y_offset}" z="${pillar_z_offset}"
        row="0" pitch="0" yaw="0"
    />

    <xacro:robot_pillar
        parent="second_base_plate_link"
        child="second_base_plate_front_left_pillar_link"
        x="${pillar_x_front}" y="${-pillar_y_offset}" z="${pillar_z_offset}"
        row="0" pitch="0" yaw="0"
    />

    <xacro:robot_pillar
        parent="second_base_plate_link"
        child="second_base_plate_back_right_pillar_link"
        x="${pillar_x_back}" y="${pillar_y_offset}" z="${pillar_z_offset}"
        row="0" pitch="0" yaw="0"
    />

    <xacro:robot_pillar
        parent="second_base_plate_link"
        child="second_base_plate_back_left_pillar_link"
        x="${pillar_x_back}" y="${-pillar_y_offset}" z="${pillar_z_offset}"
        row="0" pitch="0" yaw="0"
    />

    <!-- 
        ##################################################
    -->


    <!-- 
        ##################################################
    -->



    <!-- 
        ##################################################
            Drive Wheels
        ##################################################
    -->
    
    <xacro:robot_wheel
        parent="base_link"
        child="left_wheel_link"
        x="0" y="0.124" z="0.075"
        row="${-pi/2}" pitch="0" yaw="0"
        a="0" b="0" c="1"
    />

    <xacro:robot_wheel
        parent="base_link"
        child="right_wheel_link"
        x="0" y="-0.124" z="0.075"
        row="${pi/2}" pitch="0" yaw="0"
        a="0" b="0" c="-1"
    />

    <!-- 
        ##################################################
    -->
    

    
    <!-- 
        ##################################################
            Caster Wheels
        ##################################################


        ##################################################
            Front x: 0.174
            Center: 0.1143
            Back x: Center - (Front x - Center): 0.0546
        ##################################################
    -->
    
    <xacro:robot_caster_wheel
        parent="first_base_plate_link"
        child="front_caster_wheel_link"
        x="0.174" y="0" z="0"
    />

    <xacro:robot_caster_wheel
        parent="first_base_plate_link"
        child="back_caster_wheel_link"
        x="0.0546" y="0" z="0"
    />

    <!-- 
        ##################################################
    -->

</robot>